@charset "utf-8";
@use '../../foundation/vars' as v;
@use '../../foundation/mixin' as m;

/* sticky
----------------------------------------------------------------- */
.c-sticky {

    &__area {

    }

    &__content{
        position: relative;
    }

    &__main {
        margin-top: -150px;
    }

    &__side {
    }

    &__parent {
        position: sticky;
        top: 0;
        right: 2%;
    }

    &__child {
        position: relative;
        top: -20px;
    }

    @media (min-width: 1500px) {
        &__content{
            max-width: 1500px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    @include m.mq-max(v.$breakpoint-xs) {
        &__area {
        }

        &__main {
            margin-top: 0;
        }

        &__side {
            display: none;
        }

    }
}