@charset "utf-8";
@use '../../foundation/vars' as v;
@use '../../foundation/mixin' as m;

/* pagetop
----------------------------------------------------------------- */
.p-pagetop {
    position: fixed;
    right: calc(50% - 540px);
    bottom: 10px;

    img {
        width: 100%;
        max-width: 90px;
    }

    @include m.mq-max(v.$breakpoint-xs) {
        display: none;
    }

}