@charset "utf-8";

/* align
----------------------------------------------------------------- */
.u-align {

  &--center {
    text-align: center;
  }
  &--right {
    text-align: right;
  }
  &--left {
    text-align-last: auto;
  }

  &--img {
    &-right {
    }
    &-left {

    }
  }

}
