@charset "utf-8";
@use '../../foundation/vars' as v;

/* image Base
----------------------------------------------------------------- */
.u-image {
    &--object {
      object-fit: cover;
      object-position: center;
      font-family: 'object-fit: cover';
    }

}

/* mask image - 複雑なマスクをしたい　透明度を用いた表現-
----------------------------------------------------------------- */
.u-img__mask {
  -webkit-mask-image: url("../images/maskicon-star.svg");//マスク用の画像
  mask-image: url("../images/maskicon-star.svg");//マスク用の画像
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: 38% 62%;
  mask-position: 38% 62%;
  -webkit-mask-size: 30%;
  mask-size: 30%;

  /*テキストのホバーマスクアニメーション*/
  &--hover {

    &__link {
      background-image: linear-gradient(to right, #333333 50%, #f0f0f0 50%);
      background-size: 200% 100%;
      background-position-x: 100%;
      font-size: 24px;
      font-weight: 700;
      transition: 0.6s cubic-bezier(0.25, 1, 0.5, 1);

      &:hover {
        background-position-x: 0;
        opacity: 1;//baseでかけたa:hoverのopacityを解除

        .u-img__mask--hover__text {
          background-position-x: 0;
        }
      }
    }

    &__text {
      display: inline-block;
      padding: 12px 24px;
      background-image: linear-gradient(to right, #f0f0f0 50%, #333333 50%);
      background-clip: text;
      -webkit-background-clip: text;
      background-size: inherit;
      background-position-x: 100%;
      color: rgba(255, 255, 255, 0);//transparent
      transition: inherit;
    }
  }

  /*画像のホバーマスクアニメーション*/
  &--animation {
    position: relative;
    cursor: pointer;

    &:hover {
      opacity: 1;

      .u-img__mask--animation__img {
        mask-size: 100% 100%;
        -webkit-mask-size: 100% 100%;
      }
    }

    &__bg {
      position: absolute;
      top: 0;
      left: 0;
      filter: grayscale(100%);
    }

    &__img {
      position: relative;
      mask-image: radial-gradient(black 50%, rgba(255, 255, 255, 0) 100%);
      mask-size: 0;
      mask-position: center;
      mask-repeat: no-repeat;
      -webkit-mask-image: radial-gradient(black 50%, rgba(255, 255, 255, 0) 100%);
      -webkit-mask-size: 0 0;
      -webkit-mask-position: center;
      -webkit-mask-repeat: no-repeat;
      transition: 1s cubic-bezier(0.25, 1, 0.5, 1);
    }
  }
}


/* clip Path image -単純なマスクをしたい　輪郭がはっきりした表現-
----------------------------------------------------------------- */
.u-img__clip {
  width: 100%;
  height: 50%;
  background-color: skyblue;
  // clip-path: polygon(50px at center);//円形
  // clip-path: polygon(5% 10%, 94% 10%, 48% 100%);//多角形
  clip-path: ellipse(50% 20% at 50% 20%);//楕円形
  clip-path: inset(50px round 20px);
}

//参考
//https://ics.media/entry/210701/
//filter
//https://www.asobou.co.jp/blog/web/css-filter
//https://code-kitchen.dev/css/filter/
