@charset "utf-8";
@use '../../foundation/vars' as v;

/* image
----------------------------------------------------------------- */
.u-image {
    &--object {
      object-fit: cover;
      object-position: center;
      font-family: 'object-fit: cover';
    }

}

